#registros{
    border-style: groove !important;

}

/* AÑADIDO POR MARCOS 18/12/15 */
/* ENGINEERING */

/* MOBILIARIO URBANO */
#imagen2{
	width: 66%;
	height: auto;
	float: right;
	display: inline-block;
	background-color: grey;
	visibility: visible;
}

#menu{
	width: calc(33% - 1.25em);
	font-size: 13px;
	line-height: 133%;
	display: inline-block;
	visibility: visible;
	padding-left: 10px;
}

.desplegables{
	width: 100%;
	height: 100%;
	background-color: none;
	text-align: justify;
	display: block;
}

#lista {
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#lista ol {
    margin: 0 0 0 2em;
}

#lista ul{
   	position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .2em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    /* transition: all .3s ease-out; */
}

#lista ul:hover{
    background: #eee;
}
/* DATOS PERTENECIENTES A LA ANTIGUA LISTA NUMERADA */
/*
EL ELEMENTO LISTA ORIGINAL ERA LISTA LI (MENOS EL PRIMERO QUE SIGUE SIENDO LISTA OL)
 */

/*
#lista li:hover:before{
    transform: rotate(360deg); ROTACIÓN
}

#lista li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}
*/

/* Descargar catálogo */

.descbutton{/* div exterior del boton */
	min-width: 45%;
	max-width: 70%;
	background-color: #F6F6F6;
	height: auto;
	-webkit-box-shadow: 2px 2px 19px 0px rgba(50, 50, 50, 0.23);
	-moz-box-shadow:    2px 2px 19px 0px rgba(50, 50, 50, 0.23);
	box-shadow:         2px 2px 19px 0px rgba(50, 50, 50, 0.23);
	text-align: center;
	font-size: 18px;
	border:solid 1px #b5b5b5;
	padding:4%;
	color:red;
	display:inline-block;
	line-height: 90%;
}

.descbutton:hover{
	background-color: #FFFFFF;
	border:solid 1px red;
	color:red;
}

.descarga {
	/*display:block;*/
	vertical-align: middle;

}

.descarga a:focus, .descarga a:hover{
	color:red;
}

.thumbdescarga{
	height: 50px;
	width: 80px;
	background-color: red;
	content:" ";
	/*display: block;*/
	float:left;
	margin-right: 2%;
	vertical-align: middle;

}
